*{
    margin: 0;
    padding: 0;
}

.homepage{
    background-image: url('../img/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    height: 100vh;
}